<!DOCTYPE html>

<html>

<head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>



<body>
    <div ng-app="app" ng-controller="BigFiveController">
        <div class="container">
            <!-- warning message-->
            <div class="row">
                <div class="col-sm-12">
                    <label class="col-sm-12 quiz-warning">Do NOT refresh, go back/forward using browser controls during the survey.</label>
                    <!-- <span class="col-sm-4 timer" id="timer"></span> -->
                </div>
            </div>

            <div class="row" style="text-align:center;">
                <div class="welcome-text" style="margin-top:20px;">Task 2</div>
                <br />
                <p style="font-size:16px;">Given below are a number of characteristics that may or may not apply to you. Indiciate to what extent you agree or disagree with each statement.
                    <p style="font-size:16px;">Select a value for ALL the statements.
            </div>


            <br />
            <div class="big-question-container">
                <form id="my-form" ng-submit="submitBigFiveAnswers()">
                    <input type="hidden" name="userId" id="userId">
                    <table>
                        <tr>
                            <th class="statement left">I see Myself as Someone Who...</th>
                            <th class="size-adjust center">Disagree strongly</th>
                            <th class="size-adjust center">Disagree a little</th>
                            <th class="size-adjust center">Neither agree nor disagree</th>
                            <th class="size-adjust center">Agree a little</th>
                            <th class="size-adjust center">Agree strongly</th>
                        </tr>

                        <tr ng-repeat="q in questions" ng-if="q.id < 11" ng-class-even="'shaded-tr'">
                            <td style="text-align:left">{{q.id}}. {{q.question}}</td>
                            <td><input type="radio" value="1" name="{{q.id}}" class="align-td" required></td>
                            <td><input type="radio" value="2" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="3" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="4" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="5" name="{{q.id}}" class="align-td"></td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th class="statement left">Please select the option that best describes your agreement with the statement..</th>
                            <th class="size-adjust center">Disagree strongly</th>
                            <th class="size-adjust center">Disagree a little</th>
                            <th class="size-adjust center">Neither agree nor disagree</th>
                            <th class="size-adjust center">Agree a little</th>
                            <th class="size-adjust center">Agree strongly</th>
                        </tr>
                        <tr ng-repeat="q in questions" ng-if="q.id > 10 && q.id < 21" ng-class-even="'shaded-tr'">
                            <td style="text-align:left">{{q.id}}. {{q.question}}</td>
                            <td><input type="radio" value="1" name="{{q.id}}" class="align-td" required></td>
                            <td><input type="radio" value="2" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="3" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="4" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="5" name="{{q.id}}" class="align-td"></td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th class="statement left">Please select the option that best describes your agreement with the statement..</th>
                            <th class="size-adjust center">Disagree strongly</th>
                            <th class="size-adjust center">Disagree a little</th>
                            <th class="size-adjust center">Neither agree nor disagree</th>
                            <th class="size-adjust center">Agree a little</th>
                            <th class="size-adjust center">Agree strongly</th>
                        </tr>
                        <tr ng-repeat="q in questions" ng-if="q.id > 20 && ethnicity == 'indian'" ng-class-even="'shaded-tr'">
                            <td style="text-align:left">{{q.id}}. {{q.question}}</td>
                            <td><input type="radio" value="1" name="{{q.id}}" class="align-td" required></td>
                            <td><input type="radio" value="2" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="3" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="4" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="5" name="{{q.id}}" class="align-td"></td>
                        </tr>
                        <tr ng-repeat="q in questions" ng-if="q.id > 20 && ethnicity != 'indian'" ng-class-even="'shaded-tr'">
                            <td style="text-align:left">{{q.id}}. {{q.question}}</td>
                            <td><input type="radio" value="1" name="{{q.id}}" class="align-td" required></td>
                            <td><input type="radio" value="2" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="3" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="4" name="{{q.id}}" class="align-td"></td>
                            <td><input type="radio" value="5" name="{{q.id}}" class="align-td"></td>
                        </tr>
                    </table>

                    <div class="row">
                        <div class="col-sm-8" style="margin-top:10px;">
                            <input id="big-five-submit" class="submit" type="submit" value="Submit Answers">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>