<!DOCTYPE html>
<!--<div>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->

<html>

<head>
    <title>Study on Twitter News Articles - Informed Consent Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">

    <script type="text/javascript">
        function onexit() {
            self.close();
        }
    </script>

</head>

<body>

    <div ng-app="app" ng-controller="HomeController">
        <div class="index-main-container">

            <div class="col-sm-12 landing-page" style="padding: 20px;">
                <div id="consent">
                    <h1>Instructions</h1>
                    <hr />
                    <div class="legal well">
                        <p>
                            You have been contacted via the Amazon MTurk platform to invite you to participate in our study investigating the effect of user comments or replies on the trustworthiness of Twitter posts. <br /> To successfully complete the
                            HIT, you will be required to complete <b>TWO</b> tasks. <br /> Please attempt this survey on a <b>laptop or a desktop computer.</b> <br />

                            <p>
                            </p>
                            <br/>
                            <h4>
                                <font color="#2F5F19">Tasks</font>
                            </h4>

                            <strong><b>Task 1:</b> </strong> You will be required to analyse 28 recent Twitter posts, each containing a news article. You will be asked to provide your opinion on the <b>trustworthiness</b> of each post, and rate how likely
                            you are to <b>like, comment or reply, fact check, share (retweet) or report it</b>, both <b>before</b> and <b>after</b> seeing user comments or replies (<b>STRICTLY WITHOUT browsing the Internet</b>). This process will be repeated
                            28 times, and is estimated to take up <strong> 55 minutes</strong>.

                            <p>
                            </p>
                            <strong><be>IMPORTANT:</b></strong> For the purposes of<strong><b> Task 1</b></strong>, a user comment that criticises an article's credibility is a comment that is <b>CRITICAL</b> of its credibility (i.e., believes the news
                            article is fake news). A comment that does not criticise an article's credibility is a comment that is <b>SUPPORTIVE </b>of the article's credibility (i.e., believes the news article is real). Carefully read through the annotated
                            examples given below to understand the difference between Critical and Supportive comments.
                            <p>
                            </p>

                            <left><img src="./assets/Picture 1.png" height="400" width="500"></left>
                            <right><img src="./assets/Picture 2.png" height="400" width="500"></right>


                            <br /><br /><strong><b>Task 2:</b></strong>Upon successful completion of Task 1, you will be required to complete a 44-item personality questionnaire. This is expected to take <strong>5 minutes</strong> to complete.

                            <br /><br /><b>**</b> You are expected to complete <b>BOTH</b> tasks in <b>one sitting</b>, which will take a maximum of <b>60 minutes</b>.
                            <br /><b>**</b> Do <b>NOT refresh</b> the page, or use <b>forward and back</b> controls of the web browser during the experiment. If you do so, <b>your data will be lost and you will not receive any payment.</b>

                            <p>
                            </p>
                            <br/>

                            <h4>
                                <font color="#2F5F19">Other information</font>
                            </h4>

                            No identifying information will be collected as part of our research data, and while participation will involve the recording of your worker ID, this will be removed from the data immediately after download. We will therefore not be able to identify your
                            particular responses in our data. We do not anticipate any risks to you from participation. You will receive the agreed upon value of <b>$10 (USD)</b> for the completion of the HIT. Participation
                            is voluntary and you have the right to withdraw from further participation at any stage up to the submission of your data. However, you will <b>not receive any payment</b> if you decide to abandon the task before completion.
                            Submission of the final results in Task 2 will be taken as an indication of your consent.
                        </p>
                        <p>
                            If you would like more information about the project, please contact the researchers using the Amazon's communication functionality.

                        </p>
                        <p>
                            Who can I contact if I have any concerns about the project?
                        </p>
                        <p>
                            This research project has been approved by the Human Research Ethics Committee of The RMIT University. If you have any concerns or complaints about the conduct of this research project (Ethics ID: 22334 (Information Storage, Analysis and Retrieval)),
                            which you do not wish to discuss with the research team, you should contact the Manager, Research Governance and Ethics, RMIT University, GPO Box 2476 MELBOURNE VIC 3001. Tel: 03 9925 5037 or Email: humanethics@rmit.edu.au.
                            All complaints will be treated confidentially. In any correspondence please provide the name of the research team or the name or ethics ID number of the research project.

                        </p>

                        <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
              <span class="glyphicon glyphicon-print"></span> Print a copy of this
            </button>
                    </div>

                    <hr />
                    <h4>Do you understand and consent to these terms?</h4>
                    <br />

                    <center>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="display()">
              <span class="glyphicon glyphicon-ok"></span> I agree
            </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
              <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
            </button>
                    </center>

                </div>

            </div>

            <div id="demographics" class="col-sm-12 index-container" style="display:none;">
                <div class="welcome-text">Welcome!</div>
                <div style="margin-bottom: 10px; font-size:16px;">
                    Thank you for agreeing to participate in this study. <br> To get started, enter your details in the form given below. All fields are required (marked in <span style="color:red;">*</span>).
                    <br>
                </div>

                <div class="question-container">
                    <form>
                        <table style="width:100%;">
                            <!--Gender-->
                            <tr class="row">
                                <td class="col-sm-6 right padding-adjust-labels"> Gender: <span style="color:red;">*</span> </td>

                                <td class="col-sm-6 padding-adjust-radio">
                                    <input id="female" type="radio" name="user.gender" ng-model="user.gender" value="female" class="gender-radio-button" required> <label for="female" class="gender-label">Female</label>

                                </td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input id="male" type="radio" name="user.gender" ng-model="user.gender" value="male" class="gender-radio-button"> <label for="male" class="gender-label">Male</label>
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input id="non-binary" type="radio" name="user.gender" ng-model="user.gender" value="non-binary" class="gender-radio-button"> <label for="non-binary" class="gender-label">Non-binary</label>
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input id="not-specified" type="radio" name="user.gender" ng-model="user.gender" value="not-specified" class="gender-radio-button"> <label for="not-specified" class="gender-label"> Prefer not to disclose </label>
                                </td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input type="radio" id="gender-specified" name="user.gender" ng-model="user.gender" value="gender-specified" class="gender-radio-button"> <label for="gender-specified" class="specify-label"> Prefer to self-describe: </label>
                                    <input type="text" id="gender-text" ng-model="user.genderSpecified" class="specify-text" disabled>
                                </td>
                            </tr>

                            <!--Age-->
                            <tr class="row">
                                <td class="col-sm-6 right padding-adjust-labels"> Age (must be above 18 years): <span style="color:red;">*</span></td>
                                <td class="col-sm-6" style="padding-top: 2px;"> <input type="number" placeholder=" e.g. 22" ng-model="user.age" class="input-text" style="padding-left:5px;" required></td>
                            </tr>

                            <!--Level of Education-->
                            <tr class="row">
                                <td class="col-sm-6 right padding-adjust-labels"> Level of Education Completed: <span style="color:red;">*</span> </td>
                                <td class="col-sm-6 padding-adjust-radio">
                                    <input type="radio" name="user.education" ng-model="user.education" value="some-high-school" class="edu-radio-button" id="some-high-school" required> <label for="some-high-school" class="gender-label">
                    Some high school </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.education" ng-model="user.education" value="high-school-graduate" class="edu-radio-button" id="high-school-graduate"> <label for="high-school-graduate" class="gender-label"> High
                    school graduate </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.education" ng-model="user.education" value="some-college" class="edu-radio-button" id="some-college"> <label for="some-college" class="gender-label"> Some college, no degree
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.education" ng-model="user.education" value="associate-degree" class="edu-radio-button" id="associate-degree"> <label for="associate-degree" class="gender-label"> Associate degree
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.education" ng-model="user.education" value="bachelors-degree" class="edu-radio-button" id="bachelors-degree"> <label for="bachelors-degree" class="gender-label"> Bachelor's degree
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.education" ng-model="user.education" value="masters-degree" class="edu-radio-button" id="masters-degree"> <label for="masters-degree" class="gender-label"> Graduate degree -
                    Master's </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.education" ng-model="user.education" value="doctoral-degree" class="edu-radio-button" id="doctoral-degree"> <label for="doctoral-degree" class="gender-label"> Graduate degree -
                    Doctorate </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input type="radio" name="user.education" ng-model="user.education" value="education-specified" class="edu-radio-button" id="education-specified"> <label for="education-specified" class="specify-label"> Other : </label>
                                    <input type="text" id="education-text" ng-model="user.educationSpecified" class="edu-specify-text" disabled>
                                </td>
                            </tr>


                            <!-- Country of Birth -->
                            <tr class="row">
                                <td class="col-sm-6 right padding-adjust-labels"> Country of Birth: <span style="color:red;">*</span> </td>
                                <td class="col-sm-6 padding-adjust-radio">
                                    <input type="radio" name="user.country" ng-model=" user.country" value="us" class="cou-radio-button" id="us" required> <label for="us" class="gender-label">
                   US </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.country" ng-model="user.country" value="india" class="cou-radio-button" id="india"> <label for="india" class="gender-label"> India
               </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.country" ng-model="user.country" value="uk" class="cou-radio-button" id="uk"> <label for="uk" class="gender-label"> UK
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.country" ng-model="user.country" value="japan" class="cou-radio-button" id="japan"> <label for="japan" class="gender-label"> Japan
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.country" ng-model="user.country" value="china" class="cou-radio-button" id="china"> <label for="china" class="gender-label"> China
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input type="radio" name="user.country" ng-model="user.country" value="country-specified" class="cou-radio-button" id="country-specified"> <label for="country-specified" class="specify-label"> Other : </label>
                                    <input type="text" id="country-text" ng-model="user.countrySpecified" class="cou-specify-text" disabled>
                                </td>
                            </tr>

                            <!-- Ethnicity -->
                            <tr class="row">
                                <td class="col-sm-6 right padding-adjust-labels"> Your Ethnicity: <span style="color:red;">*</span> </td>
                                <td class="col-sm-6 padding-adjust-radio">
                                    <input type="radio" name="user.ethnicity" ng-model="user.ethnicity" value="american" class="eth-radio-button" id="american" required> <label for="american" class="gender-label">
                    American </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.ethnicity" ng-model="user.ethnicity" value="indian" class="eth-radio-button" id="indian"> <label for="indian" class="gender-label"> Indian
                    </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.ethnicity" ng-model="user.ethnicity" value="britich" class="eth-radio-button" id="british"> <label for="british" class="gender-label"> British
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.ethnicity" ng-model="user.ethnicity" value="japanese" class="eth-radio-button" id="japanese"> <label for="japanese" class="gender-label"> Japanese
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6"> <input type="radio" name="user.ethnicity" ng-model="user.ethnicity" value="chinese" class="eth-radio-button" id="chinese"> <label for="chinese" class="gender-label"> Chinese
                  </label></td>
                            </tr>
                            <tr class="row">
                                <td class="col-sm-6 right"></td>
                                <td class="col-sm-6">
                                    <input type="radio" name="user.ethnicity" ng-model="user.ethnicity" value="ethnicity-specified" class="eth-radio-button" id="ethnicity-specified"> <label for="ethnicity-specified" class="specify-label"> Other : </label>
                                    <input type="text" id="ethnicity-text" ng-model="user.ethnicitySpecified" class="eth-specify-text" disabled>
                                </td>
                            </tr>
                            <!--Social Media Use-->
                            <tr class="row">
                                <td class="col-sm-6 right padding-adjust-labels"> Time Spent on Social Media per week (in hours): <span style="color:red;">*</span></td>
                                <td class="col-sm-6" style="padding-top: 10px;"> <input type="number" placeholder=" e.g. 10" ng-model="user.socialmedia" class="input-text" style="padding-left:5px;" required></td>
                            </tr>

                        </table>
                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <button id="index-next" class="index-next" ng-click="indexNext(user)">Next</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>



            <div id="index-instructions" class="col-sm-12 index-container" style="text-align:center;margin-left: 25px;display:none;">
                <div class="welcome-text">Task 1</div>
                <div style="font-size:16px;">You will see screenshots of several <b>Twitter</b> posts. <br /> Imagine that they appear on your news feed as shared by a <b>distant friend</b>. <br /> Read the posts carefully and,</div>


                <div class="row instruction">
                    <div class="col-sm-2"><img src="./assets/icons/1.png" width="50"></div>
                    <div class="col-sm-10 instruction-text">Indicate your <b>familiarity</b> with the Twitter post.</div>
                </div>

                <div class="row instruction">
                    <div class="col-sm-2"><img src="./assets/icons/2.svg" width="50"></div>
                    <div class="col-sm-10 instruction-text">Rate the <b>trustworthiness</b> of the post, and provide your <b>confidence</b> on the rating.</div>
                </div>

                <div class="row instruction">
                    <div class="col-sm-2"><img src="./assets/icons/3.svg" width="50"></div>
                    <div class="col-sm-10 instruction-text">Indicate how likely you are to <b>like, share, comment or reply, fact check or report</b> the post.</div>
                </div>

                <div class="row instruction">
                    <div class="col-sm-2"><img src="./assets/icons/4.png" width="50"></div>
                    <div class="col-sm-10 instruction-text">See how other Twitter users have <b>commented</b> on the post. </div>
                </div>

                <div class="row instruction">
                    <div class="col-sm-2"><img src="./assets/icons/5.svg" width="50"></div>
                    <div class="col-sm-10 instruction-text">After reading their comments or replies, identify <b>how others feel</b> about the <b>trustworthiness</b> of the post.</div>
                </div>

                <div class="row instruction">
                    <div class="col-sm-2"><img src="./assets/icons/6.png" width="50"></div>
                    <div class="col-sm-10 instruction-text">Repeat <b>Step 2 & 3</b>.</div>
                </div>

                <div class="row" id="submit-section">
                    <div class="col-sm-7">
                        <button id="index-submit-button" class="index-submit" ng-click="submitDetails(user)">Let's get started!</button>
                    </div>
                    <div class="col-sm-4">
                        <div id="index-loader" class="index-loader"></div>
                    </div>
                </div>

            </div>

</body>

</html>